<?xml version="1.0"?>
<launch>
	
	<rosparam command="load" file="$(find robotnik_dpro_controller)/config/servos_arm.yaml" ns="robotnik_dpro_controller_arm" />
	
	<node name="robotnik_dpro_controller_arm" pkg="robotnik_dpro_controller" type="robotnik_dpro_controller_node" respawn="false" output="screen">
		
		<!-- Set the port to connect to here -->
                <!-- DPRO 1 - Traction Motors -->
                <!-- DPRO 2 - Torso lifting and head pan-tilt -->
                <!-- DPRO 3 - Arm motors -->
		<!-- param name="port" type="string" value="/dev/ttyUSB_DPRO3"/ -->
                <param name="port" type="string" value="/dev/ttyUSB_DPRO3"/>

	</node>
</launch>
